@font-face {
  font-family: 'header';
  src: url('fonts/Sawarabi_Mincho/SawarabiMincho-Regular.ttf');
}

@font-face {
  font-family: 'subheader';
  src: url('fonts/Poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'main';
  src: url('fonts/Noto_Sans_JP/NotoSansJP-VariableFont_wght.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contact {
  background-color: #474747;
  height: 30px;
}

nav {
  display: flex;
  justify-content: center;
  padding: 24px;
}

nav .container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.nav-btn,
.book-btn { 
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.9rem;
  border-radius: 4px;
  transition-duration: 0.4s;
 }

.nav-btn {
  background-color: #555555;
  border: none;
  color: white;
}

.book-btn {
  border: 2px solid #555555;
  background-color: whitesmoke;
}

.nav-btn:hover {
  cursor: pointer;
  background-color: #e5e5e5;
  color: black;
}

.book-btn:hover {
  cursor: pointer;
  background-color: #a3a3a3;
}

.logo {
  width: 40px;
}

.logo-container {
  display: flex;
  gap: 8px;
  align-items: center;
  font-family: 'header';
}

.main {
  background: url('/src/images/main-cropped.jpg');
  background-size: cover;
  background-position: center;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-buttons button {
  border: none;
  border-radius: 15px;
  padding: 12px 20px;
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.6);
}

.main-buttons button {
  transition: 0.3s;
}

.main-buttons button:first-child {
  background-color: #b91c1c;
  color: #fafafa;
}

.main-buttons button:last-child {
  background-color: whitesmoke; 
}

.main-buttons button:hover {
  cursor: pointer;
}

.main-buttons button:first-child:hover {
  background-color: #991b1b;
}

.main-buttons button:last-child:hover {
  background-color: #e5e5e5;
}

.browse {
  padding: 5% 0;
  text-align: center;
}

.browse .container {
  padding: 5% 10%;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.card {
  border: 1px solid black;
  border-radius: 15px;
  padding: 24px 18px;
  min-width: 200px;
  max-width: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.card div {
  text-align: left;
}


.card h2 {
  font-size: 24px;
}

.card p {
  font-size: 16px;
}

.card button {
  margin: 15px 0px;
  width: fit-content;
  padding: 10px 24px;
  color: #991b1b;
  background-color: white;
  border: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 15px;
  transition: 0.4s;
}

.card button:hover {
  cursor: pointer;
  color: white;
  background-color: #991b1b;
}

.about {
  background-color: #F9F9F7;
  padding: 10%;
  display: flex;
  gap: 5%;
}

.about img {
  border-radius: 15px;
  max-width: 40%;
}

.about div {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.about div button {
  padding: 15px 32px;
  border: none;
  background-color: #b91c1c;
  color: #F9F9F7;
  transition: 0.4s;
}

.about div button:hover {
  cursor: pointer;
  background-color: #991b1b;
}

.about div h1 {
  font-size: 24px;
} 

.about div p {
  font-size: 16px;
}


footer {
  background-color: #474747;
  display: flex;
  padding: 5%;
  color: whitesmoke;
  justify-content: space-between;
}

footer .logo {
  filter: invert(100%) saturate(100%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

.footer-section {
  width: 33%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

footer h1 {
  font-size: 20px;
}

.socials-img-container {
  display: grid;
  grid-template-columns: 150px 150px;
  grid-template-rows: 120px 120px;
  gap: 8px;
}

.socials-img-container img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.footer-text-container {
  height: 100%;
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

h1 {
  font-family: 'subheader';
}

p, button {
  font-family: 'main';
}

button {
  font-weight: 600;
}