@font-face {
  font-family: 'header';
  src: url('fonts/Sawarabi_Mincho/SawarabiMincho-Regular.ttf');
}

@font-face {
  font-family: 'subheader';
  src: url('fonts/Poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'main';
  src: url('fonts/Noto_Sans_JP/NotoSansJP-VariableFont_wght.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contact {
  background-color: #474747;
  height: 30px;
}

nav {
  display: flex;
  justify-content: center;
  padding: 24px;
}

nav .container {
  width: 80%;
  display: flex;
  gap: 20px;
}

nav .container h1 {
  margin-right: auto;
}

nav .container .book-btn {
  margin-left: auto;
}

.logo {
  width: 40px;
}

.logo-container {
  display: flex;
  gap: 8px;
  align-items: center;
  font-family: 'header';
}

main {
  position: relative;
}
main img {
  max-width: 100%;
}

.main-buttons{
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

.browse {
  padding: 5% 0;
  text-align: center;
}

.browse .container {
  display: flex;
  padding: 5% 10%;
  display: flex;
  gap: 24px;
}

.browse .container .card {
  border: 1px solid black;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card h2 {
  font-size: 24px;
}

.card p {
  font-size: 16px;
}

.card button {
  color: #AD343E;
  background-color: #FFFFFF;
  border: none;
  font-size: 16px;
  font-weight: bold;
}

.card button:hover {
  cursor: pointer;
}

.about {
  background-color: #F9F9F7;
  padding: 10%;
  display: flex;
  gap: 5%;
}

.about img {
  border-radius: 15px;
  max-width: 40%;
}

.about div {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.about div h1 {
  font-size: 24px;
} 

.about div p {
  font-size: 16px;
}


footer {
  background-color: #474747;
  display: flex;
  padding: 5%;
  color: whitesmoke;
  justify-content: space-between;
}

footer .logo {
  filter: invert(100%) saturate(100%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

.footer-section {
  width: 33%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

footer h1 {
  font-size: 20px;
}

.socials-img-container {
  display: grid;
  grid-template-columns: 150px 150px;
  grid-template-rows: 120px 120px;
  gap: 8px;
}

.socials-img-container img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.footer-text-container {
  height: 100%;
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

h1 {
  font-family: 'subheader';
}

p, button {
  font-family: 'main';
}

button {
  font-weight: 600;
}